@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shiki-token-comment: rgb(0 0 0 / 0.5);
}

.dark {
  --shiki-token-comment: rgb(255 255 255 / 0.5);
}

ul ul {
  margin-top: 0 !important;
}

.examples {
  font-weight: 600;
  letter-spacing: -0.015em;
  font-size: 1.25rem;
  margin-top: 2rem;
}

.required {
  color: #d73a49;
}
